<div class="container">
    <div class="row">
                <!-- Blog entries-->
                <div class="col-md-8">
                <h1 class="my-4">
                <% if @topic == nil %>
                All Posts
                <% else %>
                <%= @topic.title %>
                <% end %>
                </h1>   

                <% @posts.each do |post| %>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <div class="card-body">
                            
                            <h2 class="card-title"><%= post.title %></h2>
                            <p class="card-text"><%= post.body.length <= 2000 ? post.body : post.body[0..2000] %> </p>
                            <a class="btn btn-outline-dark" href="/posts/<%= post.id %>">Read more →</a>
                        </div>
                        <div class="card-footer text-muted">
                            <%= post.created_at %>
                        </div>
                    </div>
                    <% end %>
                   
                   <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item <% unless @has_newer %> disabled <% end %>" >
            <a class="page-link" href="/posts/<% if @topic.present? %><%= @topic.alias %><% end %>?newer=<%= @page_token %>">&larr; Newer</a>
          </li>
          <li class="page-item <% unless @has_older %> disabled <% end %>">
            <a class="page-link" href="/posts/<% if @topic.present? %><%= @topic.alias %><% end %>?older=<%= @page_token %>">Older &rarr;</a>
          </li>
        </ul>

            </div>